{% extends "base.html" %}

{% load bs4 %}

{% block content %}
<div class="row pt-3">
    <div class="col-lg-12">
        <h2>Analytics and summary statistics</h2>
        <p class="text-muted">This is an interal webpage for BMDS Online administrators to better understand user analytics and performace of the application. Results are updated hourly.</p>
    </div>
    {% card col-md-4 %}
        <p class="text-muted mb-0">Number of analyses created:</p>
        <h4 class="h3 my-1">{{config.n_total}}</h4>
        <p class="text-muted mb-0">Total analyses currently saved in the database. This isn't a cummulative number; this would not include analyses which were deleted or expired after 6 months.</p>
    {% endcard %}
    {% card col-md-4 %}
        <p class="text-muted mb-0">Created per day:</p>
        <h4 class="h3 my-1">{{config.created_per_day|floatformat:2}}</h4>
        <p class="text-muted mb-0">Average number created per day.</p>
    {% endcard %}
    {% card col-md-4 %}
        <p class="text-muted mb-0">Fraction executed:</p>
        <h4 class="h3 my-1">{{config.fraction_completed|floatformat:1}}%</h4>
        <p class="text-muted mb-0">Fraction of analyses which compelted succesfully overall.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Time series analysis</h3>
    </div>
    {% card col-lg-12 %}
        {% plotly config.time_series.fig_per_day_punchcard %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-4 %}
        {% plotly config.time_series.fig_per_day %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-4 %}
        {% plotly config.time_series.fig_per_week %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-4 %}
        {% plotly config.time_series.fig_per_month %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Execution success/failure rates</h3>
    </div>
    {% card col-lg-6 %}
        {% plotly config.successes.fig_completions_per_week %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-6 %}
        {% plotly config.successes.fig_completions_per_month %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Analysis settings composition</h3>
    </div>
    {% card col-lg-6 %}
        {% plotly config.datasets.fig_n_dataset_option %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-6 %}
        {% plotly config.datasets.fig_n_dataset %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-6 %}
        {% plotly config.datasets.fig_n_options %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-6 %}
        {% plotly config.datasets.fig_by_type %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Runtime</h3>
    </div>
    {% card col-lg-4 %}
        {% plotly config.runtime.fig_boxplot %}
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-4 %}
        <p class="mb-0">Execution runtime statistics:</p>
        <table class="table table-sm table-striped">
            <thead>
                <tr><th>Statistic</th><th>Duration (sec)</th></tr>
            </thead>
            <tbody>
                {% for key,value in config.runtime.stats.items %}
                <tr><td>{{key}}</td><td>{{value|floatformat}}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
    {% card col-lg-4 %}
        <p class="mb-0">Top 50 most recent runtime failures:</p>
        <table class="table table-sm table-striped">
            <thead>
                <tr><th>Date</th><th>URL</th></tr>
            </thead>
            <tbody>
                {% for row in config.runtime.failures %}
                <tr><td>{{row.timestamp}}</td><td><a href={{row.url}}>Link</td></tr>
                {%empty%}
                <tr><td colspan="2">No failures!</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <p class='mb-0 text-muted'>Footnote here. TODO - add.</p>
    {% endcard %}
</div>
{% endblock content %}
