{% extends "base.html" %}

{% load bs4 %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2>Analytics</h2>
    </div>
    {% card col-md-4 %}
        <p class="text-muted mb-0">Number of analyses created:</p>
        <h4 class="h3 my-1">{{config.n_total}}</h4>
        <p class="text-muted mb-0">Total analyses in database.</p>
    {% endcard %}
    {% card col-md-4 %}
        <p class="text-muted mb-0">Created per day:</p>
        <h4 class="h3 my-1">{{config.created_per_day|floatformat:2}}</h4>
        <p class="text-muted mb-0">Analyses per day.</p>
    {% endcard %}
    {% card col-md-4 %}
        <p class="text-muted mb-0">Fraction executed:</p>
        <h4 class="h3 my-1">{{config.fraction_completed|floatformat:1}}%</h4>
        <p class="text-muted mb-0">Analyses complete succesfully.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Time series analysis</h3>
    </div>
    {% card col-lg-6 %}
        <div id="ts-day-line"></div>
    {% endcard %}
    {% card col-lg-6 %}
        <div id="ts-day-punchcard"></div>
        <p class='mb-0 text-muted'>Footnote here. The quick brown fox jumped over the red herring.</p>
    {% endcard %}
    {% card col-lg-6 %}
        <div id="ts-week-line"></div>
    {% endcard %}
    {% card col-lg-6 %}
        <div id="ts-month-line"></div>
        <p class='mb-0 text-muted'>Footnote here. The quick brown fox jumped over the red herring.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Execution success/failure rates</h3>
    </div>
    {% card col-lg-6 %}
        <div id="success-week"></div>
    {% endcard %}
    {% card col-lg-6 %}
        <div id="success-month"></div>
        <p class='mb-0 text-muted'>Footnote here. The quick brown fox jumped over the red herring.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Analysis settings composition</h3>
    </div>
    {% card col-lg-6 %}
        <div id="ds-fig1"></div>
    {% endcard %}
    {% card col-lg-6 %}
        <div id="ds-fig2"></div>
        <p class='mb-0 text-muted'>Footnote here. The quick brown fox jumped over the red herring.</p>
    {% endcard %}
    {% card col-lg-6 %}
        <div id="ds-fig3"></div>
    {% endcard %}
    {% card col-lg-6 %}
        <div id="ds-fig4"></div>
        <p class='mb-0 text-muted'>Footnote here. The quick brown fox jumped over the red herring.</p>
    {% endcard %}
    <div class="col-lg-12">
        <h3>Runtime</h3>
    </div>
    {% card col-lg-4 %}
        <div id="runtime-fig1"></div>
    {% endcard %}
    {% card col-lg-4 %}
        <p class="text-muted mb-0">Runtime statistics:</p>
        <table class="table table-sm table-striped">
            <thead>
                <tr><th>Statistic</th><th>Duration (s)</th></tr>
            </thead>
            <tbody>
                {% for key,value in config.runtime.stats.items %}
                <tr><td>{{key}}</td><td>{{value|floatformat}}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcard %}
    {% card col-lg-4 %}
        <p class="text-muted mb-0">Failed runs:</p>
        <table class="table table-sm table-striped">
            <thead>
                <tr><th>Date</th><th>URL</th></tr>
            </thead>
            <tbody>
                {% for row in config.runtime.failures %}
                <tr><td>{{row.timestamp}}</td><td><a href={{row.url}}>Link</td></tr>
                {%empty%}
                <tr><td colspan="2">No failures!</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcard %}
</div>
{% endblock content %}

{% block extra-js %}
{{ config|json_script:"config" }}
<script type="text/javascript">
    const data = JSON.parse(document.getElementById("config").innerHTML);

    window.app.renderPlotlyFigure(document.getElementById("ts-day-line"), data.time_series.fig_per_day_line);
    window.app.renderPlotlyFigure(document.getElementById("ts-day-punchcard"), data.time_series.fig_per_day_punchard);
    window.app.renderPlotlyFigure(document.getElementById("ts-week-line"), data.time_series.fig_per_week);
    window.app.renderPlotlyFigure(document.getElementById("ts-month-line"), data.time_series.fig_per_month);

    window.app.renderPlotlyFigure(document.getElementById("success-week"), data.successes.fig_completions_per_week);
    window.app.renderPlotlyFigure(document.getElementById("success-month"), data.successes.fig_completions_per_month);

    window.app.renderPlotlyFigure(document.getElementById("ds-fig1"), data.datasets.fig_n_dataset_option);
    window.app.renderPlotlyFigure(document.getElementById("ds-fig2"), data.datasets.fig_n_dataset);
    window.app.renderPlotlyFigure(document.getElementById("ds-fig3"), data.datasets.fig_n_options);
    window.app.renderPlotlyFigure(document.getElementById("ds-fig4"), data.datasets.fig_by_type);

    window.app.renderPlotlyFigure(document.getElementById("runtime-fig1"), data.runtime.fig_boxplot);
</script>
{% endblock %}
