{% extends "base.html" %}

{% load bs4 %}

{% block content %}
<div class="alert alert-danger mt-3" role="alert">
    <form method="post">
        {% csrf_token %}
        <p><strong>Delete analysis?</strong></p>
        <p>
            Are you sure you want to delete <a href="{{object.get_edit_url}}">this analysis</a>?
            If deleted, it cannot be restored.
        </p>
        <button type="submit" class="btn btn-danger">{% icon "trash3-fill mr-1" %}Delete</button>
        <a class="btn btn-secondary ml-2" href="{{object.get_edit_url}}">Cancel</a>
    </form>
</div>
{% endblock content %}
