.main{
    font-size: 12px;
    justify-content: center;
}

div.col{
    padding: 0;
    margin-left:15px;
   
}
.navbar{
    margin-bottom: 0!important;
 }

.row{
    margin-bottom: 20px;
    margin-top:20px;
}
.analysis-form{
    padding:10px;
    position: relative;
}
  

.analysis-form select,
.analysis-form input,
.analysis-form textarea{
    font-size: 13px;
}

.analysis-form Button {
    margin-right: 10px;
    text-overflow: inherit;


}
.btn-group{
    text-align: center;
}
/* .analysis-form .form-control:focus{
    outline:none;
    border-color:black;
    box-shadow: none;
}
.options-table .form-control:focus{
    outline:none;
    border-color:black;
    box-shadow: none;
} */
 .options-table th{
    font-size: 14px;
    color: black;
}

.options-table th, .options-table td{
    word-break: normal;
    text-align:center;
    height: fit-content;
}
.options-table td:focus{
   outline: none;
} 

.options-table td input {
     top:0;
     left:0;
     margin: 0;
     height: 100%;
     width: 100%;
     box-sizing: border-box; 
     text-align: center;
     font-size: 12px;
     justify-content: center; 
}
.options-table td input:focus {
    outline: none  !important;
} 
 .options-table td select{
    font-size:12px;
    width:auto;
    overflow: hidden;
    padding:0;
} 

.modelscheckbox th{
     word-break:break-all;
    word-wrap: break-word;
    font-size: 12px;
} 

.modelscheckbox td input{
    size: 10px;
    margin-left: 30px;
    text-align: right;
    width: 70px;
}
.modelscheckbox td input[type=text]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  .modelscheckbox td input[type=text]:focus{
    box-shadow: 0 0 5px #5BC0DE;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5BC0DE;
  }

.modelscheckbox td .checkbox{
  margin-left: 10px;
}
*:focus{
    outline:none;
}
.modelscheckbox input:disabled:hover{
    cursor:not-allowed;

}

.datasetlist-table td select{
    font-size:12px;

} 

.first-row{
    justify-content: center;

}
.second-row{
    justify-content: center;
}


.analysis {height: auto; overflow: auto;}
.modelsCheckbox {
    min-height: auto; 
    justify-content: center; 
    text-align: center;
}
.datasetlist {min-height: auto;}
.optionslist{
    justify-content: center;
}

@media only screen and (min-width: 768px){
    .analysis-form button{
        margin-bottom: 10px;
        justify-content: center;
    }
}

.analysis-readonly th{
    width: 150px;
}