.main-container{
   
    padding:20px;
}

.main-container .main-row .main-form Button{
    white-space: nowrap;
    margin:5px;
    
}

.main-container .main-row{
  
   padding:10px;
}


.main-container .main-table{
    padding-top:20px;
}

.main-container main-table th, td , tr{
    text-align: center;
}