.main-form{
    border: 1px solid rgba(213, 226, 226, 0.562);
    padding:20px;
}
.main-form Button {
    margin-right: 10px;

}

.checkbox-table{
    margin-top: 20px;
    text-align: center;
}

.bma-input{
    text-align: right;
    max-width: 2;
}

.analysisFormReadOnly th{
  width: 200px;
}