.row{
  margin: 20px;
}
.table{
  font-size: 12px;
}
.label{
  font-size: 12px;
 
}
.label label{
  margin-right: 20px;
}

.inputformlist {
  border-collapse:separate; 
  border-spacing:0 10px; 
}

.inputformlist  input{
 width:100px;
 height:30px;
 text-align: center;
}
.inputformlist input, .label input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
.inputformlist input:focus, .label input:focus {
  box-shadow: 0 0 5px #5BC0DE;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #5BC0DE;
}
.column-names{
  text-align: center;
  width: auto;
}

.inputformlist textarea{
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-sq-xs {
  width: 30px !important;
  height: 30px !important;

}
button.btn-sq-xs{
  display: inline-block;
  text-align: center;
  margin: auto;
}

.model-type{
  margin-bottom: 20px;
}
.model-type select{
  width: auto;
  font-size:12px;
}

.textarea textarea{

  font-size: 12px;
}

.editdataset{
  font-size: 12px;
}

.currentdataset td a {
  display:block;
  width:100%;
}
.currentdataset a:hover{
  cursor:pointer;
}
.currentdataset td:hover{
  background-color:#0275d8 ;
  color:white;
}