input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currentdataset a:hover{
  font-weight: bold;
  cursor:pointer;
}

.btn-space {
  margin-right: 5px;
}
.btn-toolbar{
  margin-top: 5px;
}
.editdataset{
  margin-top: 10px;
}


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

.inputformtable{
  table-layout: fixed;
  border-collapse: collapse;
  word-wrap: break-word;
}
.inputformtable td {
  position: relative;
}
.inputformtable tr th{
  font-size: 14px;
}
.inputform input{
  position: absolute;
 display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
   border: none;
  padding: 10px;
  box-sizing: border-box; 
  text-align: center;
}


.btn-toolbar{
    width:auto;
}
.btn-toolbar button{
  margin-right: 2px;
}