# paths
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.vscode/
build/
dist/
docs/_build/
venv/

# files
*.log
*.py[cod]
*.sqlite3
*celerybeat-schedule.db
*log*.txt
.env
bmds_server/main/settings/local.py
settings.ini

# keep folders, ignore contents
logs/*
notebooks/*
public/*
!logs/.gitkeep
!notebooks/.gitkeep
!public/.gitkeep
