# paths
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.vscode/
bmds_server/static/bundles/
build/
/data/
dist/
docs/site/
node_modules/
scripts/private
/public/
/private/
venv/

# files
*.log
*.py[cod]
*.sqlite3*
*log
.coverage
.env
.eslintcache
bmds_server/gitcommit.json
bmds_server/main/settings/local.py
bmds_server/webpack-stats.json
celerybeat-schedule
compose/nginx/conf/nginx.conf
frontend/yarn.lock
settings.ini

# keep folders, ignore contents
logs/*
public/*
!logs/.gitkeep
!public/.gitkeep
