# https://docs.github.com/en/github/using-git/configuring-git-to-handle-line-endings
# fix line endings
* text=auto

# ignore paths from language statistics:
# https://github.com/github/linguist#using-gitattributes
bmds_server/static/vendor/* linguist-vendored
vendor/* linguist-vendored
