# paths
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.vscode/
bmds_server/static/bundles/
build/
data/
dist/
docs/_build/
node_modules/
vendor/*.whl
venv/

# files
*.log
*.py[cod]
*.sqlite3
celerybeat-schedule
*log*.txt
.env
.eslintcache
bmds_server/main/settings/local.py
compose/nginx/conf/nginx.conf
settings.ini
webpack-stats.json
yarn.lock

# keep folders, ignore contents
logs/*
notebooks/*
public/*
!logs/.gitkeep
!notebooks/.gitkeep
!public/.gitkeep

# until release
vendor/*.so
