recursive-include bmds_server/ *css *.js *.json *.html *.py
recursive-include bmds_server/static *
recursive-include bmds_server/templates *
include bmds_server/.gitcommit
global-exclude .DS_Store .gitkeep __pycache__ bmds_server/settings/local.py *.pyc
