[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.19.1"
djangorestframework = "==3.8.2"
django-extensions = "==2.1.2"
celery = "==3.1.25"
jsonschema = "==2.6.0"
python-decouple = "==3.1"
bmds = "==0.11.0"
watchdog = "==0.9.0"
pytest = "==3.8.0"
pytest-django = "==3.4.2"
Django = "==2.1.1"
XlsxWriter = "==1.1.0"
Sphinx = "==1.8.0"
CherryPy = "==18.0.1"

[dev-packages]
black = "*"
"flake8" = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.6"
