{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <legend>Account login</legend>
                <div id="div_id_username" class="form-group">
                    <label for="id_username" class=" requiredField">Username<span class="asteriskField">*</span></label>
                    <div>
                        {{form.username}}
                    </div>
                </div>
                <div id="div_id_password" class="form-group">
                    <label for="id_password" class=" requiredField">Password<span class="asteriskField">*</span></label>
                    <div>
                        {{form.password}}
                    </div>
                </div>
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="form-actions">
                    <input type="submit" name="save" value="Login" class="btn btn-primary" id="submit-id-save">
                    <span class="mx-2">&nbsp;<span>
                    <a role="button" class="btn btn-light" href="/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
