{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}BMDS Online{% endblock title %}</title>

    {% if SKIN == 0 %}
      <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    {% elif SKIN == 1 %}
      <link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-4.5.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">

    {% if SKIN == 1 %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/epa-styles.css' %}">
    {% endif %}

  {% if user.is_superuser or SERVER_ROLE != 'production' %}
    {% include "./includes/environment_banner.html" %}
  {% endif %}
</head>
<body>

{% if SKIN == 0 %}
  {% include "./includes/base-header.html" %}
{% elif SKIN == 1 %}
  {% include "./includes/epa-header.html" %}
{% endif %}

<div class="container-fluid" style="min-height: 90vh !important;">

{% if messages %}
  {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }} {% endif %}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message|safe }}
    </div>
  {% endfor %}
{% endif %}

{% block content %}
{% endblock content %}
</div>

{% if SKIN == 0 %}
  {% include "./includes/base-footer.html" %}
{% elif SKIN == 1 %}
  {% include "./includes/epa-footer.html" %}
{% endif %}

<script src="{% static 'vendor/jquery-3.5.1/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-4.5.3/js/bootstrap.bundle.min.js' %}"></script>
{% render_bundle 'main' %}
{% block extra-js %}
{% endblock %}
</body>
</html>
