<div class="app-header">
    <div>
        <header class="masthead clearfix" role="banner"><img class="site-logo"
                src="https://www.epa.gov/sites/all/themes/epa/logo.png" alt="">
            <hgroup class="site-name-and-slogan">
                <h1 class="site-name"><a href="https://www.epa.gov/" title="Go to the home page" rel="home"><span>US
                            EPA</span></a></h1>
                <div class="site-slogan">United States Environmental Protection Agency</div>
            </hgroup>
        </header>

        <nav class="navbar navbar-expand-lg navbar  epa-nav main-nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav__inner" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto menu">
                    <li class="nav-item ">
                        <a href="https://www.epa.gov/environmental-topics"
                            title="Learn about Environmental Topics that EPA covers." class="nav-link menu-item"
                            role="menuitem">Environmental Topics</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.epa.gov/laws-regulations"
                            title="Laws written by Congress provide the authority for EPA to write regulations. Regulations explain the technical, operational, and legal details necessary to implement laws."
                            class="nav-link menu-link" role="menuitem">Laws &amp; Regulations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="https://www.epa.gov/aboutepa"
                            title="Learn more about: our mission and what we do, how we are organized, and our history."
                            class="nav-link" role="menuitem">About EPA</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline search-input my-2 my-lg-0">
                <div class="input-group">
                    <input type="text" class="form-control " placeholder="Search EPA.gov" name="querytext"
                        id="search-box">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"
                                aria-hidden="true"></i></button>

                    </div>
                </div>
            </form>
        </nav>
    </div>
</div>