<div class="app-header">
    <div>
        <header class="masthead clearfix" role="banner"><img class="site-logo"
                src="https://www.epa.gov/sites/all/themes/epa/logo.png" alt="">
            <hgroup class="site-name-and-slogan">
                <h1 class="site-name"><a href="https://www.epa.gov/" title="Go to the home page" rel="home"><span>US
                            EPA</span></a></h1>
                <div class="site-slogan">United States Environmental Protection Agency</div>
            </hgroup>
        </header>
          <nav class="nav main-nav clearfix" role="navigation">
            <div class="nav__inner">
                <h2 class="element-invisible">Main menu</h2>
                <ul class="menu" role="menu">
                    <li class="menu-item" id="menu-learn" role="presentation"><a
                            href="https://www.epa.gov/environmental-topics"
                            title="Learn about Environmental Topics that EPA covers." class="menu-link"
                            role="menuitem">Environmental Topics</a></li>
                    <li class="menu-item" id="menu-lawsregs" role="presentation"><a
                            href="https://www.epa.gov/laws-regulations"
                            title="Laws written by Congress provide the authority for EPA to write regulations. Regulations explain the technical, operational, and legal details necessary to implement laws."
                            class="menu-link" role="menuitem">Laws &amp; Regulations</a></li>
                    <li class="menu-item" id="menu-about" role="presentation"><a href="https://www.epa.gov/aboutepa"
                            title="Learn more about: our mission and what we do, how we are organized, and our history."
                            class="menu-link" role="menuitem">About EPA</a></li>
                </ul>
                <form class="epa-search" method="get" action="https://search.epa.gov/epasearch/epasearch">
                    <label class="element-hidden" for="search-box">Search</label>
                        <input type="hidden" name="areaname" value="">
                        <input type="hidden" name="areacontacts" value="">
                        <input type="hidden" name="areasearchurl" value="">
                        <input type="hidden" name="typeofsearch" value="epa">
                        <input type="hidden" name="result_template" value="2col.ftl">
                        <div class="input-group">
                            <input type="text" class="form-control " placeholder="Search EPA.gov" name="querytext" id="search-box">
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-outline-primary" ><i class="fa fa-search" aria-hidden="true"></i></button>

                            </div>
                          </div>
                    </form>
            </div>
        </nav>
        <div class="contact-share-container">
            <div id="block-pane-epa-web-area-connect" class="block block-pane  block-pane-epa-web-area-connect"><span
                    class="connect-title"><a
                        href="https://www.epa.gov/iclus/forms/contact-us-about-critical-loads-mapper"
                        class="connect-title__link">Contact Us</a></span></div>
            <div id="block-pane-social-sharing" class="block block-pane  block-pane-social-sharing"><span
                    class="connect-title">Share</span>
                <ul class="share-links">
                    <li class="share-links__item facebook"><a class="share-links__link"
                            href="https://www.facebook.com/sharer.php?u=https://clmapper.epa.gov&amp;amp;t=home"
                            aria-label="Facebook" target="_blank" rel="noopener noreferrer"
                            title="Share this page on Facebook"><svg class="icon icon--social-link"
                                viewBox="0 0 100 100">
                                <symbol id="small-facebook"></symbol>
                                <path
                                    d="M58.69 38.83h-3.16c-2.47 0-2.93 1.19-2.93 2.89v3.8h5.89l-.79 6h-5.1v15.2h-6.15V51.47h-5.12v-6h5.12v-4.33c0-5.08 3.11-7.86 7.66-7.86a39.75 39.75 0 0 1 4.58.24v5.31z">
                                </path>
                            </svg></a></li>
                    <li class="share-links__item twitter"><a class="share-links__link"
                            href="https://twitter.com/intent/tweet?original_referer=https://clmapper.epa.gov&amp;amp;text=Critical Loads Mapper&amp;amp;url=https://clmapper.epa.gov&amp;amp;via=EPA&amp;amp;count=none&amp;amp;lang=en"
                            aria-label="Twitter" target="_blank" rel="noopener noreferrer" title="Tweet this page"><svg
                                class="icon icon--social-link" viewBox="0 0 100 100">
                                <symbol id="small-twitter"></symbol>
                                <path
                                    d="M62.58 43.55v.84c0 8.58-6.53 18.47-18.47 18.47a18.34 18.34 0 0 1-10-2.92 13.15 13.15 0 0 0 1.57.08 13 13 0 0 0 8.06-2.77 6.5 6.5 0 0 1-6.07-4.5 8.39 8.39 0 0 0 1.22.1 6.86 6.86 0 0 0 1.71-.22 6.49 6.49 0 0 1-5.2-6.37v-.08a6.57 6.57 0 0 0 2.93.82 6.51 6.51 0 0 1-2-8.68 18.46 18.46 0 0 0 13.39 6.79 7.16 7.16 0 0 1-.16-1.49 6.5 6.5 0 0 1 11.23-4.44A12.81 12.81 0 0 0 65 37.62a6.47 6.47 0 0 1-2.9 3.58 13.06 13.06 0 0 0 3.74-1 13.94 13.94 0 0 1-3.26 3.35z">
                                </path>
                            </svg></a></li>
                    <li class="share-links__item pinterest"><a class="share-links__link"
                            href="https://pinterest.com/pin/create/button/?url=https://clmapper.epa.gov&amp;amp;description=home&amp;amp;media=https://www.epa.govhttps://www.epa.gov/sites/all/themes/epa/img/epa-seal.png"
                            aria-label="Pinterest" target="_blank" rel="noopener noreferrer" title="Pin this page"><svg
                                class="icon icon--social-link" viewBox="0 0 100 100">
                                <symbol id="small-pinterest"></symbol>
                                <path
                                    d="M50.74 33.95c6.16 0 11.78 4.24 11.78 10.73 0 6.1-3.12 12.87-10.07 12.87a5.3 5.3 0 0 1-4.53-2.36c-1.49 5.91-1.38 6.79-4.67 11.3l-.25.11-.18-.2c-.12-1.24-.29-2.45-.29-3.69 0-4 1.85-9.79 2.75-13.68a7.67 7.67 0 0 1-.63-3.32c0-2 1.37-4.49 3.61-4.49a2.53 2.53 0 0 1 2.5 2.78c0 2.58-1.76 5-1.76 7.45a2.9 2.9 0 0 0 3 2.87c4.51 0 5.91-6.52 5.91-10 0-4.65-3.3-7.18-7.75-7.18a8.84 8.84 0 0 0-9.18 9c0 2.53 1.55 3.83 1.55 4.44s-.37 2.32-1 2.32a1.93 1.93 0 0 1-.33-.06c-2.81-.84-3.83-4.59-3.83-7.16.02-7.26 6.63-11.73 13.37-11.73z">
                                </path>
                            </svg></a></li>
                    <li class="share-links__item email"><a class="share-links__link"
                            href="mailto:%20?subject=Shared from the US EPA: CL Mapper&amp;body=CL Mapper - https://clmapper.epa.gov"
                            aria-label="Email this page"><svg class="icon icon--social-link" viewBox="0 0 100 100">
                                <symbol id="small-email"></symbol>
                                <path
                                    d="M29.36 34.71v30.45h41.77V34.71H29.36zm21 17.24L34.08 37.32h32.37zm-8.34-4L32 60.22V38.94zM44 49.72l6.41 5.74 5.94-5.41 10.29 12.5H33.43zm14.28-1.42L68.52 39v21.75z">
                                </path>
                            </svg></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>