interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS270", "model_name": "Polynomial", "dfile":
      "Polynomial\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n3\n0
      44 0\n500 1e-08 1e-08 0 1 1 0 0\n1 1.0 1 0.95\n-9999 0 -9999 -9999 -9999 -9999\n0\n-9999
      -9999 -9999 -9999 -9999 -9999\nDose Response\n0.000000 8.107900\n0.000000 9.306300\n0.000000
      9.743100\n0.000000 9.781000\n0.000000 10.052000\n0.000000 10.613000\n0.000000
      10.751000\n0.000000 11.057000\n0.100000 9.155600\n0.100000 9.682100\n0.100000
      9.825600\n0.100000 10.209500\n0.100000 10.222200\n0.100000 12.038200\n1.000000
      9.566100\n1.000000 9.705900\n1.000000 9.990500\n1.000000 10.271600\n1.000000
      10.471000\n1.000000 11.060200\n10.000000 8.851400\n10.000000 10.010700\n10.000000
      10.085400\n10.000000 10.568300\n10.000000 11.139400\n10.000000 11.487500\n100.000000
      9.542700\n100.000000 9.721100\n100.000000 9.826700\n100.000000 10.023100\n100.000000
      10.183300\n100.000000 10.868500\n300.000000 10.368000\n300.000000 10.517600\n300.000000
      11.316800\n300.000000 12.002000\n300.000000 12.118600\n300.000000 12.636800\n500.000000
      9.957200\n500.000000 10.134700\n500.000000 10.774300\n500.000000 11.057100\n500.000000
      11.156400\n500.000000 12.036800"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <omitted>
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Polynomial Model. (Version: 2.21;  Date: 03/14/2017) \n  \t  Input
        Data File: C:\\Windows\\TEMP\\bmds-dfile-ly3an82w.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-ly3an82w.plt\n \t\t\t\t\t\t\tTue Mar
        31 01:50:13 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the response function is: \n\n   Y[dose] = beta_0 + beta_1*dose
        + beta_2*dose^2 + ...\n\n\n   Dependent variable = Response\n   Independent
        variable = Dose\n   rho is set to 0\n   The polynomial coefficients are restricted
        to be positive\n   A constant variance model is fit\n\n   Total number of
        dose groups = 7\n   Total number of records with missing values = 0\n   Maximum
        number of iterations = 500\n   Relative Function Convergence has been set
        to: 1e-008\n   Parameter Convergence has been set to: 1e-008\n\n\n\n                  Default
        Initial Parameter Values  \n                          alpha =     0.679395\n                            rho
        =            0   Specified\n                         beta_0 =      10.1705\n                         beta_1
        =            0\n                         beta_2 =            0\n                         beta_3
        =            0\n\n\n           Asymptotic Correlation Matrix of P[...]
