.main {
    overflow-y: scroll;
}

Button {
    width: 30;
    height: 5;
    margin: 1;
    padding: 1;
    border: heavy white;
}

#log {
    height: 15;
}

#tabs {
    margin: 0 5;
}

.app {
    layout: horizontal;
}

.app-box {
    padding: 0 1;
    margin: 1;
    border: double grey;
    width: 70;
    height: 10;
    overflow: auto;
}
