/* Header */
#search-box {
  margin-top: 0px;
}

/* Background fill */
.bg-custom {
  background-color: #f1f1f1;
}

/* sidebar-cards */
.card.pane {
    border-color:#5b616b;
    border-width: 1px 1px 4px 1px;
    border-radius: 0;
}
.card.pane > .card-header {
    border-color:#5b616b;
    background-color: #5b616b;
    border-radius: 0;
}
