/* bootstrap4 overrides */
label {
  font-weight: bold;
}
.container-fluid {
  min-height: 450px !important;
}

/* hide arrows spinners on number forms */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

/* hidden input file */
.hiddenInputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* base header/footer */
.base-footer-div {
  background-color: #646D76;
  padding-top: 2em;
  padding-bottom: 3em;

}
.last-updated {
    font-size: 0.7em;
    font-weight: 500;
    padding: 0.8333em 0 0;
}

/* originally from bootstrap3 */
.well {
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
}

.bg-custom {
  background-color: #b8daff;
}
