.navbar {
    margin-bottom: 0.5em;
}

label {
    font-weight: bold;
}

textarea {
    font-family: Consolas, monaco, monospace;
    height: 25em;
}

.big-example {
    cursor: pointer;
    font-size: 1.1rem;
}
