label {
  font-weight: bold;
}

textarea {
  font-family: Consolas, monaco, monospace;
  height: 25em;
}

.big-example {
  cursor: pointer;
  font-size: 1.1rem;
}

.container-fluid {
  min-height: 450px !important;
}
