{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        {{frontmatter.content.title|safe}}
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        {{frontmatter.content.html|safe}}
    </div>
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}
            <label for="id_id">Create a new analysis:</label>
            <button type="submit" class="btn btn-primary btn-block mb-1">Create a new BMDS analysis</button>
            <p class="text-muted">Analyses are deleted after {{days_to_keep_jobs}} days.</p>
        </form>
    </div>
</div>
{% endblock content %}
