{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Welcome to BMDS online.</h1>
    </div>
    <div class="col-sm-12">
        <p>
            This web-application executes the US EPA's benchmark dose modeling software (<a href="https://www.epa.gov/bmds">BMDS</a>).
        </p>
        <ul>
            <li>Load example datasets below to view example input files;
                for more information, see the <a href="http://bmds-server.readthedocs.io/en/latest/">documentation</a>
            </li>
            <li>Software is designed for automated BMDS execution using a
                programming language such as Python, R, or Java. To take
                advantage of automation, use the <a href="{% url 'api:api-root' %}">API</a>,
                and see the <a href="http://bmds-server.readthedocs.io/en/latest/quickstart.html">quickstart</a> section.</li>
        </ul>
    </div>
    <div class="col-md-8">
        <form method="post">
            <label for="id_id">Create a new BMDS session:</label>
            <ul style="padding-bottom: 0.9em;">
                <li>BMDS results are deleted after {{days_to_keep_jobs}} days.</li>
            </ul>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">Create a new BMDS session</button>
        </form>
    </div>
    <div class="col-md-4">
        <form action="{% url 'job_query' %}" method='get'>
            <div class="form-group">
                <label for="id_id">Find an existing BMDS session:</label>
                <input id="id_id" name="id" type="text"
                       placeholder="Session ID"
                       required="" class="form-control" >
            </div>
            <button type="submit" class="btn btn-primary btn-block">View an existing BMDS session</button>
        </form>
    </div>
</div>
{% endblock content %}
